<div class="row">
    <div class="col-md-5">
        <form [formGroup]="this.enquiryService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="form-group">
                <label>Full Name</label>
                <input formControlName="fullName" class="form-control"
                    [ngClass]="{'is-invalid': submitted && formControls.fullName.errors}">
                <div class="invalid-feedack" *ngIf="submitted && formControls.fullName.errors">
                    This field is required!
                </div>
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input formControlName="email" class="form-control"
                    [ngClass]="{'is-invalid': submitted && formControls.email.errors}">
                <div class="invalid-feedack" *ngIf="submitted && formControls.email.errors">
                    Invalid Email Address!
                </div>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input formControlName="phoneNumber" class="form-control"
                    [ngClass]="{'is-invalid': submitted && formControls.phoneNumber.errors}">
                <div class="invalid-feedack" *ngIf="submitted && formControls.phoneNumber.errors">
                    <label *ngIf="formControls.phoneNumber.errors.required">This field is required!</label>
                    <label *ngIf="formControls.phoneNumber.errors.minlength">Atleast 8 numbers!</label>
                </div>
            </div>
            <div class="form-group">
                <label>Size</label>
                <input formControlName="size" class="form-control">
            </div>
            <div class="form-group">
                <label>Price (Ksh)</label>
                <input formControlName="price" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
        <div class="alert alert-info" *ngIf="showSuccessMessage">
            Submitted Successfully!
        </div>
    </div>
    <div class="col-md-7">
        <app-enquiry-list></app-enquiry-list>
    </div>
</div>